.bg-container-page-not-found {
  width: 1440px;
  height: 1024px;

  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 360px) {
  .bg-container-page-not-found {
    width: 360px;
    height: 640px;

    background: #f5f7fa;
  }
}

.not-found-image {
  width: 448px;
  height: 300px;
}

@media screen and (max-width: 360px) {
  .not-found-image {
    width: 225px;
    height: 151px;
  }
}
.notfound-main-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Light / blue-gray / 700 */

  color: #334155;
  margin: 0px;
}

@media screen and (max-width: 360px) {
  .notfound-main-heading {
    font-size: 18px;
    line-height: 24px;
  }
}

.notfound-para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  text-align: center;
  margin: 0px;

  /* Light / blue-gray / 600 */

  color: #475569;
}

@media screen and (max-width: 360px) {
  .notfound-para {
    font-size: 14px;
    line-height: 24px;
  }
}

.not-found-card {
  text-align: center;
}

@media screen and (max-width: 360px) {
}

.not-found-go-back-button {
  width: 164px;
  height: 48px;

  background: #0284c7;
  border-radius: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Light / base / white */

  color: #ffffff;
  border: none;
  margin-top: 32px;
  cursor: pointer;
}
